.Navigation .Logo {
  width: 35px;
  margin-right: 10px;
}

.Navigation {
  background-image: none !important;
  background-color: #000 !important;
  border-color: #000;
}

.Navigation .NavBrand {
  display: flex;
  flex-direction: row;
  align-items: center;
}
