.Service {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.Service .CardContainer {
  perspective: 150rem;
  -moz-perspective: 150rem;
  margin-top: 4rem;
}

.Service .CardContainer:hover .Card,
.CardContainer.hover .Card {
  transform: rotateY(180deg);
}

.Service .CardContainer,
.CardFront,
.CardBack {
  width: 25rem;
  height: 40rem;
}

.Card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.CardFront,
.CardBack {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2rem 2rem;
  text-align: center;
}

.CardFront {
  z-index: 2;
  transform: rotateY(0deg);
}

.CardBack {
  transform: rotateY(180deg);
}
