.Header {
  height: 100vh;
}

.Header .BgVideo {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.Header .BgVideoContent {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Header .BannerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

.Header h1 {
  font-size: 8rem;
  letter-spacing: 5px;
  font-weight: 600;
}

.Header h1,
h2,
p {
  opacity: 0;
  opacity: 1 \9; /*just in case ie*/
  -webkit-animation: fadein ease-in 1;
  -moz-animation: fadein ease-in 1;
  animation: fadein ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
}

.Header h2 {
  font-size: 4rem;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.Header p {
  font-size: 2rem;
  letter-spacing: 5px;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
